a.active{
position: relative;
width: 100%;
}

a.active::before{
position: absolute;
content: "";
right:-50px;
top:52%;
transform: translate(-50%,-50%);

width: 0; 
height: 0; 
border-top: 18px solid transparent;
border-bottom: 18px solid transparent;

border-left: 18px solid #fff;

}